@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --bg: white;
    --darkerstpink:  #b62f4f;
    --darkpink: #da6e88;
    --lightpink:#dda1a9;
    --vivagreen:#32560b;
    --darkgreen:#323b0b;
    --green:#7f981b;
    --lightgreen: #b0b06a;
}

* {
    font-family: Roboto, sans-serif;
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

.hidden{
    display:none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--lightgreen);
    border-radius: 5rem;
}

a {
	display: block;
	margin-top: 20px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

body {
    background: var(--bg);
    margin: 0 0 0 0;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: var(--darkerstpink);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.input-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 20px;
	color: #333;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #999;
	outline: none;
	background-color: transparent;
}

 .input-box-edit label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #999;
	pointer-events: none;
	transition: 0.5s;
}

.input-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #999;
	pointer-events: none;
	transition: 0.5s;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: black;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
	top: -18px;
	font-size: 12px;
	color: var(--darkpink);
}

 .input-box-edit input {
	width: 100%;
	padding: 10px 0;
	font-size: 25px;
	color: #333;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #999;
	outline: none;
	background-color: transparent;
}

/* Header-navbar */

.header {
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 0.5rem 7%;
    border-bottom: var(--lightgreen);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 15;
    box-shadow: 0 10px 30px rgb(0 0 0 / 50%);
    
}

/* logo */
.header .logo img {
    height: 6rem;
}

.header .navbar{
    display: flex;
    justify-content: space-between ;
}

/* paginile */
.header .navbar a {
    margin-left: 40px;
    font-size: 20px;
    color: #fff;
    
}

.admin-page .dashboard a{
    margin-top: 50px;
    color: var(--vivagreen);
    font-size:15px;
    font-weight: bold;
}

.account-background .edit-page form a {
	display: block;
	margin-top: 20px;
	font-size: 14px;
	color: var(--darkerstpink);
	text-align: center;
	text-decoration: none;
}

.header .navbar a:hover {
    color: var(--darkgreen);
    border-top: solid var(--darkgreen);
    font-weight: bold;
    font-size: 17px;
   
}

/* iconite */
.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    margin-left: 20px;
}

.header .icons div:hover {
    color: var(--darkgreen);
}

#menu-btn {
    display: none;
}


.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;
}

.input-box-edit input:focus ~ label{
	top: -18px;
	font-size: 12px;
	color: var(--darkpink);
}

.header .search-form label:hover {
    color: var(--darkgreen);
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--darkerstpink);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--lightpink);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: black;
    padding-bottom: .5rem;

}

.header .cart-items-container .cart-item .content h3:hover{
    color:var(--green);
    cursor: pointer;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 15px;
    color: var(--vivagreen);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

footer {
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #333;
    color: #f7f5f5;
}

footer p {
    text-align: center;
}

/* Account */

.account-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
.account-section form {
    display:flex;
    justify-content: center;
    align-items:cnetr;
    flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	padding: 40px;
	box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
}

.account-section h2 {
    color: var(--vivagreen);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 100px;
}

.admin-page .header h2{
    color:white;
    font-size:35px;
}

.input-box {
	position: relative;
	margin-bottom: 25px;
}

input[type="submit"] {
	background-color: var(--darkerstpink);
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	transition: 0.5s;
}

input[type="submit"]:hover {
	background-color: var(--darkpink);
}

.account-background{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height:90vh;
    width:100vw
;}

.account-background .account-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float:left;
    margin-left: 0;
    flex-direction: column;
    height: 100vh;
    background-color: var(--darkgreen);
    width: 30vw;
    box-shadow: 0 2px 5px black;

   
}

.account-background .account-info h2 {
    text-align: center;
    margin-top: 100px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}


.account-background .account-info .column {
    margin-top:20px;
    width: 100%;
    height: 100px;
    background-color: var(--lightgreen);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 10px 30px rgb(0 0 0 / 50%);
    
}

.account-background  .account-info  .column h2{
color: black;
   font-size: 20px;
   text-align:start;
   margin-left: 20px;

}

.admin-page .dashboard .users h2{
    text-align: center;
    color:#eea3b4;
    font-size: 30px;
    font-weight: bold;
    text-shadow:#66071d  3px 2px;
}

.admin-page .dashboard .reports h2{
    text-align: center;
    color:#66071d;
    font-size: 30px;
    font-weight: bold;
    text-shadow:white  3px 2px ;
}

.admin-page .dashboard .content h2{
    text-align: center;
    color:white;
    font-size: 30px;
    font-weight: bold;
    text-shadow:var(--darkerstpink) 3px 2px;
}

.account-background .account-info .column:nth-of-type(2) h2
{
    color: rgb(136 22 22);
}

.account-background .account-info  .column:hover{
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 18px;
    background-color: #8c8c5a;
    
    
}

.account-background .edit-page{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    width: 70vw;
}

.account-background .edit-page .img-container{
    margin-top:60px;
    height:100px;
    width:100px;
}

.account-background .edit-page .img-container img{
    height: 100%;
    width:100%;
}

.account-background .edit-page form {
    margin-top: 30px;
	background-color: #fff;
	border-radius: 10px;
	padding: 40px;
	box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
    width: 50%;
    height: 50%;
}

.input-box-edit {
	position: relative;
	margin-bottom: 25px;
}

.account-background .edit-page form input[type="submit"] {
	background-color: var(--darkerstpink);
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	transition: 0.5s;
}

.account-background .edit-page form input[type="submit"]:hover {
	background-color: var(--darkpink);
}

/* Admin page */
.admin-page{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.admin-page .header{
    height: 70px;
    background-color: #7f981b;
}

.admin-page .header p{
    color:#c5c581;
    font-size: 25px;
}


.admin-page .dashboard{
    margin-top: 80px;
    width:100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-page .dashboard .users{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b62f4f;
    width: 25%;
    height:25%;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
}

.admin-page .dashboard .users:hover{
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #f5c1cd;
}



.admin-page .dashboard .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e76281;
    width: 25%;
    height:25%;
    margin-top:20px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
}

.admin-page .dashboard .content:hover{
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #f5c1cd;
}



.admin-page .dashboard .reports
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eea3b4;
    width: 25%;
    height:25%;
    margin-top:20px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
}

.admin-page .dashboard .reports:hover{
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #f5c1cd;
}






/*
@media (max-width: 930px){
   
    .header {
        background: var(--green);
        display: flex;
        align-items: center;
        justify-content: flex-start ;
        padding: 0.5rem 7%;
        border-bottom: var(--lightgreen);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        height: 15vh;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
        
    }
    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:white;
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 20px;
    }
    
    .header .icons div {
  
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        margin-left: 20px;
    }

        
    .header .logo img {
        height: 4rem;
        left:0px;
    }

     .header .search-form{
        width: 90%;
        right: 2rem;
    }
    
    .account-background{
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height:80vh;
        width:100vw
    ;}
    
.account-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  

}
*/
