@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg: white;
    --darkerstpink: #b62f4f;
    --darkpink: #da6e88;
    --lightpink: #dda1a9;
    --vivagreen: #32560b;
    --darkgreen: #323b0b;
    --green: #7f981b;
    --lightgreen: #b0b06a;
}

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--lightgreen);
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: var(--darkerstpink);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}


.success-message{
    font-size: 15px;
    color:#32560b;
}
/* Header-navbar */

.header {
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 7%;
    border-bottom: var(--lightgreen);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 15;
    box-shadow: 0 10px 30px rgb(0 0 0 / 50%);

}

/* logo */
.header .logo img {
    height: 6rem;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
}

/* paginile */

a {
    display: block;
    color: white;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.header .navbar a {
    margin-left: 40px;
    font-size: 20px;
    color: #fff;

}

.account-background .edit-page form a {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    color: var(--darkerstpink);
    text-align: center;
    text-decoration: none;
}

.header .navbar a:hover {
    color: var(--darkgreen);
    border-top: solid var(--darkgreen);
    font-weight: bold;
    font-size: 17px;

}

/* iconite */
.header .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    margin-right: 10px;
}

.header .icons div:hover {
    color: var(--darkgreen);
}

#menu-btn {
    display: none;
}


.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}


.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #333;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
}

.input-box-edit input {
    width: 100%;
    padding: 10px 0;
    font-size: 25px;
    color: #333;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;
}


.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: 0.5s;
}

.input-box-edit label {
    position: absolute;
    top: -25px;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    color: #999;
    pointer-events: none;
    transition: 0.5s;

}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: black;
}



.input-box input:focus~label,
.input-box input:valid~label {
    top: -18px;
    font-size: 12px;
    color: var(--darkpink);
}

.input-box-edit input:focus~label {
    top: -18px;
    font-size: 12px;
    color: var(--darkpink);
}

.header .search-form label:hover {
    color: var(--darkgreen);
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--darkerstpink);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--lightpink);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: black;
    padding-bottom: .5rem;

}

.header .cart-items-container .cart-item .content h3:hover {
    color: var(--green);
    cursor: pointer;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 15px;
    color: var(--vivagreen);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

/* Account */

.account-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.account-section form {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
    height: 60%;
    width: 20%;
}

.account-section form h2 {
    color: #66071d;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 100px;
}

.input-box {
    position: relative;
    margin-bottom: 25px;
}



input[type="submit"] {
    background-color: var(--darkerstpink);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}

input[type="submit"]:hover {
    background-color: var(--darkpink);
}

.user-information {
    margin-left: 20vw;
    margin-top: 20vh;
    border: 3px solid #b62f4f;
    border-radius: 10px;
    width: 40vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}





.user-information h2 {
    color: #66071d;
    font-weight: bold;
    font-size: 50px;
}

.user-information p {
    color: black;
    font-size: 25px;
    margin-top: 20px;
}

.account-background {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}

.account-background .account-info {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 0;
    flex-direction: column;
    height: 100vh;
    background-color: var(--darkgreen);
    width: 30vw;
    box-shadow: 0 2px 5px black;


}

.account-background .account-info h2 {
    text-align: center;
    margin-top: 100px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}


.account-background .account-info .column {
    margin-top: 60px;
    width: 100%;
    height: 10%;
    background-color: var(--lightgreen);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 30px rgb(0 0 0 / 50%);



}

.admin-page .header h2 {
    color: white;
    font-size: 35px;
}

.account-background .account-info .column h2 {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;

}


.admin-page .dashboard .users h2 {
    text-align: center;
    color: #eea3b4;
    font-size: 30px;
    font-weight: bold;
    text-shadow: #66071d 3px 2px;
}


.admin-page .dashboard .content h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: var(--darkerstpink) 3px 2px;
}

.admin-page .dashboard .reports h2 {
    text-align: center;
    color: #66071d;
    font-size: 30px;
    font-weight: bold;
    text-shadow: white 3px 2px;
}


.account-background .account-info .column:nth-of-type(2) h2 {
    color: rgb(136 22 22);
}

.account-background .account-info .column:hover {
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 18px;
    background-color: #8c8c5a;


}



.account-background .edit-page {
    margin-left: 25vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    width: 70vw;
}

.account-background .edit-page .img-container {
    margin-left: 10vw;
    margin-top: 20vh;
    height: 100px;
    width: 100px;
}

.account-background .edit-page .img-container img {
    height: 100%;
    width: 100%;
}



.account-background .edit-page form {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
    width: 50%;
    height: 60%;
}

.input-box-edit {
    position: relative;
    margin-bottom: 10px;
}



.account-background .edit-page form input[type="submit"] {
    background-color: var(--darkerstpink);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;

}

.account-background .edit-page form input[type="submit"]:hover {
    background-color: var(--darkpink);
}




/* Admin page */
.admin-page {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.admin-page .header {
    height: 70px;
    background-color: #7f981b;
}

.admin-page .header p {
    color: #c5c581;
    font-size: 25px;
}



.admin-page .dashboard {
    margin-top: 80px;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-page .dashboard .users {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b62f4f;
    width: 25%;
    height: 25%;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
}

.admin-page .dashboard .users:hover {
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #f5c1cd;
}

.admin-page .dashboard .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e76281;
    width: 25%;
    height: 25%;
    margin-top: 20px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
}

.admin-page .dashboard .content:hover {
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #f5c1cd;
}

.admin-page .dashboard .reports {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eea3b4;
    width: 25%;
    height: 25%;
    margin-top: 20px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 50%);
}

.admin-page .dashboard .reports:hover {
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #f5c1cd;
}


@media (width <=1024px){
    .account-section form{
        width: 30%;
        height:70%;
    }

}
@media (width <=991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section {
        padding: 2rem;
    }

    .header .navbar a {
        margin: 0 0.4rem;
        margin-left: 40px;
        font-size: 20px;

    }



    .header .icons div {
        font-size: 25px;
    }

    .header .icons div:first-child {
        margin-left: 15px;
    }

    .header .icons div:last-child {
        margin-right: 10px;
    }
    .account-section form{
        width:30%;
        height:60%;
    }

}

@media (width <=768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        width: 20%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
        padding: 1rem;
    }
    
    
    .header .navbar a {
        color: var(--black);
        display: block;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    

    .header .navbar.active {
        right: 0;
    }

    

    .header .icons div {
        font-size: 20px;
    }

    .header .icons div:first-child {
        margin-left: 500px;
    }
    .account-section form{
        width:45%;
        height:60%;
    }

}

@media (width <=540px) {
    .header .icons div:first-child {
        margin-left: 200px;
    }

    .navbar {
        display: block;
        align-items: flex-start;
        flex-direction: column;
    }

    .navbar a {
        margin: 0;
    }

    .admin-page .header h2 {
        margin-left: 20px;
        ;
        color: white;
        font-size: 20px;
    }
    .account-background .account-info{

    }
    .account-background .account-info h2 {
        text-align: center;
        margin-top: 20px;
        color: white;
        font-weight: bold;
        font-size: 15px;
    }

    .admin-page .dashboard .users h2 {
        font-size: 20px;
    }

    .admin-page .dashboard .reports h2 {
        font-size: 20px;
    }

    .admin-page .dashboard .content {
        width: 70%;
        height: 10%;
    }

    .admin-page .dashboard .content h2 {
        font-size: 20px;
    }

    .admin-page .dashboard .users {
        width: 70%;
        height: 10%;
    }

    .admin-page .dashboard .reports {
        width: 70%;
        height: 10%;
    }

    .admin-page .header p {
        margin-left: 50px;
        font-size: 15px;
    }



    .account-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .account-background .account-info {
        margin-top: 0;
        width: 100vw;
        height: 30vh;
    }

    .account-background .account-info .column {
        margin-top: 50px;
        height: 27%;
    }

    .account-background .account-info .column:nth-of-type(2) {
        margin-top: 10px;
    }

    .account-background .edit-page {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .account-background .edit-page .img-container {
        margin-top: 40px;
        margin-left: 110px;
    }

    .account-background .edit-page form {
        margin-left: 110px;
        width: 70vw;
        height: 30%;
    }
    .account-section form{
        width:60%;
        height:60%;
    }





}

@media (width <=450px) {
    .account-background .edit-page .img-container {
        margin-top: 40px;
        margin-left: 130px;
    }

    .header .icons div:first-child {
        margin-left: 10px;
    }

    .account-background .edit-page form {
        margin-left: 130px;
        width: 70vw;
        height: 30%;
    }
    .account-section form{
        width:80%;
        height:65%;
    }
}
@media (width <=280px){
    .account-section form{
        width:95%;
        height:65%;
    }
}