.help-body body{
    text-align: center;
    justify-content: center;
    margin: auto;
}

.space {
    margin-top: 120px;
}

.help{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.help h2{
    margin-left:30px;
    margin-top: 20px;
    font-size: 30px;
    color:#323b0b;
}

.help summary{
    margin-left:30px;
    margin-top: 20px;
    font-size: 30px;
    color:#323b0b;
      font-weight: bold;
}

.help p{
    margin-left:30px;
    margin-top: 5px;
    font-size:20px;
    color:black;
    margin-bottom: 10px;
}

.help img{
    margin-left:30px;
    height:50%;
    width:50%;
    margin-bottom: 30px;
}


@media (width <=450px){
    .account-background .edit-page .img-container{
        margin-top:40px;
        margin-left: 130px;
    }

    .header .icons div:first-child{
        margin-left: 10px;
    }

    .account-background .edit-page form{
        margin-left: 130px;
         width:70vw;
         height: 30%;
     }
}
