



/* logo */
.slide>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.culture-card img {
    margin-top: 40px;
    flex-direction: column;
    width: 30px;
    height: 30px;
}





.culture-view .image img {
    margin-top: 20px;
    width: 100%;
    height: 80%;
}


.card h3 {
    font-size: 1.3em;
    margin: 1em 0 1.4em;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #070024;
}



.culture-card h3 {
    font-size: 1.3em;
    margin: 1em 0 1.4em;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #070024;
}

.culture-view .description .price {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 20vw;
    height: 50px;
    background-color: #f9dee5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0 0 0 0/50%);
}


footer {
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #333;
    color: #f7f5f5;
}

footer p {
    text-align: center;
}





.image-slider-container h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 3.5;
}


.card-container h2 {
    color: var(--darkgreen);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}

.description-container h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: justify;
    font-size: 1.5em;
    margin: auto;
    padding: 1em;
    font-weight: 600;
    color: var(--darkgreen);
}


.mycultures-container h2 {
    color: var(--darkgreen);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}

.column {
    display: flex;
    padding: 1em;
}

.account-info .column {
    position: relative;
    margin-bottom: 25px;
    border-bottom: #32560b;

}

.account-info .column:hover {
    color: white;
    font-size: 23px;
}

.account-info .column h2 {
    font-size: 25px;
    color: var(--lightgreen);
    text-align: left;

}

/* Index feature */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-top: 150px;
}



.row {
    display: flex;
    flex: 0 0 25%;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card-container h1,
.row-title h1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 0.6em 0;
    padding: auto;
    font-weight: 600;
    color: var(--darkgreen);
}

.description-container {
    width: 78%;
    margin: 0 auto;
    background-color: #b0b06a;
    background-repeat: no-repeat;
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0 0 0 0/15%);
    border-radius: 0.5em;
}



.card {
    padding: 3.1em 1.25em;
    height: 225px;
    width: 100%;
    text-align: center;
    background: linear-gradient(0deg, #7f981b 10px, transparent 10px);
    background-repeat: no-repeat;
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0 0 0 0/15%);
    border-radius: 0.5em;
    transition: 0.5s;
    cursor: pointer;
}

.card .icon {
    font-size: 2.5em;
    height: 2em;
    width: 2em;
    margin: auto;
    background-color: #b0b06a;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #fff;
}

.icon::before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    border: 0.12em solid #7f981b;
    border-radius: 50%;
    transition: 0.5s;
}


.card p {
    line-height: 2em;
    color: #625a71;
}

.card:hover {
    background-position: 0;
}

.card:hover .icon::before {
    height: 2.25em;
    width: 2.25em;
}

@media screen and (width <=470px) {
    .card-container section {
        margin-top: 6rem;
        padding: 1em;
    }

    .card {
        padding: 5em 2em;
        width: 100%;
    }

    .description-container {
        padding: 1em;
    }

    .column {
        display: flex;
        flex: 0 0 50%;
        width: 200px;
        padding: 1em;
    }
}

@media screen and (width >=700px) {
    .card-container section {
        margin-top: 6rem;
        padding: 1em;
    }

    .description-container {
        padding: 1em;
    }

    .card {
        padding: 5em 2em;
        width: 100%;
    }


    .column {
        display: flex;
        flex: 0 0 25%;
        width: 100%;
        padding: 0 1em;
    }
}

/* Slider image */
.image-slider-container {
    width: 100%;
    height: 100%;
    color: #b62f4f;
    line-height: 1.9;
    z-index: 10;
    background-color: #f7f5f5;
}


.slider {
    position: relative;
    max-width: 40rem;
    height: 26.625rem;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 26.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}



button {
    background: none;
    border: none;
}

button .fas {
    color: #da6e88
}

.btn-slide {
    position: absolute;
    top: 50%;
    z-index: 20;
    height: 5.5rem;
    width: 5.5rem;
    cursor: pointer;
}

.prev {
    left: 0;
    transform: translate(0, -50%);
}

.next {
    right: 0;
    transform: translate(0, -50%);
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dot {
    width: 25px;
    height: 5px;
    margin: 15px 5px;
    border-radius: .5rem;
    background: #b62f4f;
    cursor: pointer;
}

.dot.active {
    background: #da6e88
}

/* My cultures page */

.search {
    width: 100%;
    height: 40px;
    padding: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
}

.search-term {
    width: 100%;
    border: 3px solid #b62f4f;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #da6e88;
}

.search-term:focus {
    color: #b62f4f;
}

.search-button {
    width: 40px;
    height: 36px;
    border: 1px solid #b62f4f;
    background: #da6e88;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 88%;
    top: 50%;
    left: 50%;
}

.mycultures-container {
    display: flex;
    flex: 0 0 33%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding-top: 150px;
}


.culture-row {
    display: flex;
    flex: 0 0 33%;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.mycultures-container h1,
.row-title h1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 0.6em 0;
    padding: auto;
    font-weight: 600;
    color: var(--darkgreen);
}


.culture-column {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

.culture-card {
    padding: 1.25em;
    height: 200px;
    text-align: center;
    background: linear-gradient(0deg, #7f981b 10px, transparent 10px);
    background-repeat: no-repeat;
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0 0 0 0/15%);
    border-radius: 0.5em;
    transition: 0.5s;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.culture-card .culture-icon {
    font-size: 2.5em;
    height: 2.5em;
    width: 2.5em;
    margin: auto;
    background-color: #b0b06a;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #fff;
}

.culture-icon::before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    border: 0.12em solid #7f981b;
    border-radius: 50%;
    transition: 0.5s;
}


.culture-card p {
    margin: 20px 20px 20px 20px;
    line-height: 2em;
    color: #625a71;
}

.culture-card:hover {
    background-position: 0;
}

.culture-card:hover .culture-icon::before {
    height: 2.25em;
    width: 2.25em;
}





/* culture view */
.culture-view {
    margin-top: 12vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}


.culture-view .description {
    margin-left: 40px;
    width: 25vw;
    height: 60vh;
    border-bottom: solid var(--darkerstpink);
    border-top: solid var(--darkerstpink);
    border-width: 10px;
    box-shadow: 0 15px 25px rgba(0 0 0 0/15%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

}

.culture-view .description p {
    margin: 20px 20px 20px 20px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    color: black;
}

.culture-tip .tip-box p {
    text-align: center;
    margin: 30px 30px 30px 30px;
    justify-content: center;
    color: black;
    font-size: 20px;

}

.culture-view .image .plus-icon p {
    margin-top: 50px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.culture-view .image .plus-icon {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
    background-color: white;

}


.culture-view .image .plus-icon img {
    margin-top: 130px;
    width: 100px;
    height: 100px;
}

.culture-view .description form {
    margin-top: 20px;
}

.culture-tip .line h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    ;
}



.culture-view .description .button {
    border-radius: 10px;
    width: 70%;
    height: 15%;
    background-color: #5a0d18;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0 0 0 0/15%);
    margin-bottom: 20%;
}

.culture-view .description .button:hover {
    letter-spacing: 2px;
    background-color: #7d2b38;
    cursor: pointer;
}

.culture-view .description h2 {
    margin: 20px 20px 20px 20px;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: #5a0d18;

}

.edit-culture .edit-button h2 {
    text-align: center;
    color: #3a4605;
    font-size: 25px;
    font-weight: bold;
}

.sync .button-s h2 {
    font-size: 18px;
    align-items: center;
    text-align: center;
    color: white;
}


.culture-view .description .button h2 {
    font-size: 18px;
    text-align: center;
    color: white;
}




.culture-view .description .price h2 {
    font-size: 20px;
    text-align: center;
    color: #5a0d18;
}





.culture-view .image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
    width: 50vw;
    height: 75vh;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0 0 0 0/15%);
    border-radius: 10px;
    background-color: #bad746;
}

.culture-view .image .sell {
    border-radius: 10px;
    margin-top: 15px;
    width: 25vw;
    height: 50px;
    background-color: var(--darkgreen);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0 0 0 0/50%);
}

.culture-view .image .sell:hover {
    letter-spacing: 2px;
    background-color: #606a29;
    cursor: pointer;
}

.culture-view .image .sell h2 {
    font-size: 20px;
    text-align: center;
    color: white;
}

.culture-view .image .buy {
    border-radius: 10px;
    margin-top: 10px;
    width: 25vw;
    height: 50px;
    background-color: var(--vivagreen);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 10px rgba(0 0 0 0 /50%);
}

.culture-view .image .interested {
    border-radius: 10px;
    margin-top: 15px;
    width: 20vw;
    height: 30px;
    background-color: #beddac;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0 0 0 0/50%);
    margin-bottom: 10px;
}


.culture-view .image .buy:hover {
    letter-spacing: 2px;
    background-color: #476627;
    cursor: pointer;
}

.culture-view .image .buy h2 {
    font-size: 25px;
    text-align: center;
    color: white;
}


.culture-view .image .interested:hover {
    letter-spacing: 2px;
    background-color: #dcf5cb;
    cursor: pointer;
}

.culture-view .image .interested h2 {
    font-size: 20px;
    text-align: center;
    color: #182d03;
}



.culture-tip {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #ffb7c7;
    box-shadow: 0 15px 25px rgba(0 0 0 0/50%);

}

.culture-tip .line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--darkerstpink);
    height: 15%;
    width: 100%;
}

.culture-tip .tip-box {
    border-radius: 10px;
    margin: 30px 30px 30px 30px;
    width: 70vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 15px 25px rgba(0 0 0 0/50%);
}


.edit-culture {
    margin-top: 30px;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-culture .edit-button {
    border-radius: 10px;
    height: 50%;
    width: 22%;
    background-color: #d7ff35;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(0 0 0 0/50%);
    font-weight: bold;
    font-size:25px;
}
.edit-culture .edit-button.edit-mode{
  
    background-color: #476627;
    color:#f2ffbc;
}

.edit-culture .edit-button.edit-mode:hover{
    background-color: #5c7642;
}

.edit-culture .edit-button:hover {
    background-color: #e1fc77;
    cursor: pointer;
}

.sync {
    margin-top: 90px;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.sync .button-s {
    border-radius: 10px;
    width: 20%;
    height: 50%;
    background-color: #9f4252;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0 0 0 0/50%);
}

.sync .button-s:hover {
    letter-spacing: 2px;
    background-color: var(--darkpink);
    cursor: pointer;
}




@media screen and (width >=10px) {
    .mycultures-container section {
        margin-top: 6rem;
        padding: 1em;
    }

    .culture-container {
        padding: 5em 2em;
        width: 100%;
    }


    .culture-column {
        display: flex;
        flex: 0 0 100%;
        width: 200px;
        padding: 1em;
    }
}

@media screen and (width >=470px) {
    .mycultures-container section {
        margin-top: 6rem;
        padding: 1em;
    }

    .culture-container {
        padding: 5em 2em;
        width: 100%;
    }


    .culture-column {
        display: flex;
        flex: 0 0 50%;
        width: 200px;
        padding: 1em;
    }
}


@media screen and (width >=700px) {
    .mycultures-container section {
        margin-top: 6rem;
        padding: 1em;
    }

    .culture-card {
        padding: 5em 2em;
        width: 100%;
    }

    .culture-column {
        display: flex;
        flex: 0 0 33%;
        width: 100%;
        height: 100%;
        padding: 1em;
    }
}



/* other */
@media (width <=1024px) {
    .culture-view .description form {
        width: 80%;
    }

}

@media (width <=990px) {
    html {
        font-size: 55%;
    }
    section {
        padding: 2rem;
    }

   /* .header {
        padding: 1.5rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   

    .header .navbar a {
        margin: 0 0.4rem;
        margin-left: 40px;
        font-size: 20px;

    }



    .header .icons div {
        font-size: 25px;
    }


    .header .icons div:first-child {
        margin-left: 15px;
    }

    .header .icons div:last-child {
        margin-right: 10px;
    }
*/
    .culture-view {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }

    .culture-view .image {
        margin-top: 80px;
        margin-left: 20px;
        width: 90vw;
        height: 75vh;
        align-items: center;

    }

    .culture-view .image .plus-icon {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 90%;
        align-items: center;
        background-color: white;

    }

    .culture-view .image .plus-icon img {
        margin-top: 30px;
        width: 50px;
        height: 50px;
    }

    .sync {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .sync .button-s {
        margin-left: 0;
        width: 60%;
        height: 50%;
        background-color: #9f4252;

    }


    .culture-tip .tip-box p {
        font-size: 30px;
    }


    .culture-view .description {
        margin-left: 20px;
        margin-top: 30px;
        width: 90vw;
        height: 100vh;
    }

    .culture-view .description .button h2 {
        text-align: center;
    }



    .culture-view .image .sell {
        width: 50%;
        margin-bottom: 5px;
        ;
    }

    .culture-view .description .price {
        width: 50%;
    }

    .culture-tip {
        margin-left: 32px;
        width: 90vw;
    }

    .culture-tip .tip-box {
        margin: auto;
        width: 80vw;

    }


    .edit-culture {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .edit-culture .edit-button {
        width: 70vw;
        margin-right: 20px;
    }
}
/*
@media (width <=768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .icons div {
        font-size: 20px;
    }

    .header .icons div:first-child {
        margin-left: 500px;
    }


}*/

@media (width <=540px) {

    .culture-view {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }

    .culture-view .image {
        margin-top: 80px;
        margin-left: 10px;
        width: 80vw;
        height: 75vh;
        align-items: center;

    }

    .culture-view .image .plus-icon {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 90%;
        align-items: center;
        background-color: white;

    }

    .culture-view .image .plus-icon img {
        margin-top: 30px;
        width: 50px;
        height: 50px;
    }

    .sync {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .sync .button-s {
        margin-left: 0;
        margin-right: 7px;
        width: 60%;
        height: 50%;
        background-color: #9f4252;

    }

    .culture-view .description {
        margin-left: 10px;
        margin-top: 30px;
        width: 80vw;
        height: 100vh;
    }

    .culture-view .description .button h2 {
        text-align: center;
    }


    .culture-view .image .sell {
        width: 50%;
        margin-bottom: 5px;
        ;
    }

    .culture-view .description .price {
        width: 50%;
    }

    .culture-tip {
        margin-left: 13px;
        width: 90vw;
    }

    .culture-tip .tip-box {
        margin: auto;
        width: 80vw;

    }

    .culture-tip .tip-box p {
        font-size: 15px;
    }

    .edit-culture {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .edit-culture .edit-button {
        width: 70vw;
    }


}

@media (width <=450px) {

    .culture-view .description form {
        width: 80%;
    }

}